<div id="container">
<div id="topPan">
	<a href="index.html"><img src="images/logo.gif" title="Liqidity Graph" alt="Liqidity Graph" width="260" height="56" border="0" class="logo" /></a>
	<ul>
		<li><%= link_to 'Katalog', recipes_path %></li>
		<li><%= link_to 'Dodaj', new_recipe_path %></li>
		<li><%= link_to_rpx "Zaloguj sie", user_session_url %> </li>
	</ul>
</div>
<div id="bodyPan">
	<div id="bodytopPan">
		<h2>Informacje o git-nalewki</h2>
		<p>Serwis realizowany w ramach projektu z Architektury Serwisów Internetowych</p>
		<p>Git-nalewki umo¿liwia dzielenie siê przepisami na wyszukane i wykwintne trunki zwane nalewkami, komentowanie i ocenianie przepisów innych u¿ytkowników</p>
Nasz¹ aplikacja przeznaczona jest dla mi³oœników oraz degustatorów, którzy lubi¹ mieæ w swoim barku coœ czego nie mo¿na dostaæ w sklepie i czym bêd¹ mogli poczêstowaæ goœci w czasie spotkañ rodzinnych i towarzyskich</p>
	</div>
		<div id="bodymiddleMainPan">
  	<h2><a href="#">Przejdz do przepisów</a></h2>
</div>
</div>
</div>
	  <div id="footermainPan">
  <div id="footerPan">
  	<ul>
		<li><a href="#">Strona G³owna</a>| </li>
		<li><a href="#">Katalog</a>| </li>
		<li><a href="#">Nowy Przepis</a>| </li>
		<li><%= link_to_rpx "Zaloguj sie", user_session_url %> </li>
			</ul>
		<p class="copyright">©c2h5oh. All Rights Reserved.</p>
	
  </div>
</div>
